html {
    background-color: pink;
    font-size: 72%;
    background-image: url('./images/leafFrame.png');
    background-size: 100vw 100vh;
    background-position: fixed;
}
.App {
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
}
h1 {
    font-size: 9rem;
    text-shadow: 8px 8px 8px rgba(59, 185, 114, 0.728);
    font-family: 'Press Start 2P', cursive;
}
.nav {
    display: flex;
}
.btn {
    margin: 4vw;
}
